@charset "UTF-8";
@-webkit-keyframes shrink {
  0% {
    background-size: 107% auto;
  }
  50% {
    background-size: 100% auto;
  }
  100% {
    background-size: 100% auto;
  }
}
@keyframes shrink {
  0% {
    background-size: 107% auto;
  }
  50% {
    background-size: 100% auto;
  }
  100% {
    background-size: 100% auto;
  }
}
@-webkit-keyframes mousewheel {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@keyframes mousewheel {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@-webkit-keyframes up-down {
  from {
    transform: translatey(0px);
  }
  to {
    transform: translatey(-20px);
  }
}
@keyframes up-down {
  from {
    transform: translatey(0px);
  }
  to {
    transform: translatey(-20px);
  }
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}

#wrap {
  width: 100%;
  margin: 0 auto;
}
#wrap > header {
  position: fixed;
  padding: 0 30px;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: #fff;
  opacity: 90%;
  z-index: 1000;
}
#wrap > header > .fix_bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#wrap > header > .fix_bar > h1 {
  color: #000;
}
#wrap > header > .fix_bar > ul.mnu {
  display: flex;
  justify-content: center;
}
#wrap > header > .fix_bar > ul.mnu > li {
  padding: 0 10px;
}
#wrap > header > .fix_bar > ul.mnu > li.mnu_on > a {
  color: rgb(35, 210, 35);
}
#wrap > header > .fix_bar > ul.mnu > li > a {
  color: #1e1e1e;
  font-weight: 700;
  font-size: 16px;
}
#wrap > header > .fix_bar > ul.lang {
  padding: 0 50px;
  line-height: initial;
}
#wrap > header > .fix_bar > ul.lang > li.lang__on {
  position: relative;
  color: #1e1e1e;
  font-weight: 700;
  font-size: 14px;
  line-height: 100px;
  text-align: center;
  background-image: url(./../images/icon-lang-b.png);
  background-repeat: no-repeat;
  background-position: 0 40px;
  background-size: 20px 20px;
}
#wrap > header > .fix_bar > ul.lang > li.lang__on::after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 45px;
  right: 0;
  width: 15px;
  height: 10px;
  background-image: url(./../images/select_arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#wrap > header > .fix_bar > ul.lang > li.lang__on > a {
  display: block;
  padding: 0 10px;
  width: 50px;
}
#wrap > header > .fix_bar > ul.lang > li.lang__on > ol.sub_lang {
  display: none;
  height: 120px;
  text-align: center;
  border: 1px solid #000;
  line-height: initial;
  background-color: #fff;
}
#wrap > header > .fix_bar > ul.lang > li.lang__on > ol.sub_lang > li {
  padding: 0 10px;
}
#wrap > header > .fix_bar > ul.lang > li.lang__on > ol.sub_lang > li.sub__on > a {
  color: #222;
}
#wrap > header > .fix_bar > ul.lang > li.lang__on > ol.sub_lang > li > a {
  color: #999;
}
#wrap > header ul.top > li {
  position: fixed;
  top: 90%;
  right: 4%;
  width: 20px;
  text-align: center;
  line-height: 20px;
  background-color: rgb(88, 229, 133);
  z-index: 100;
}
#wrap > header ul.top > li > a {
  display: block;
  color: #fff;
  height: 20px;
}
#wrap > section > .article_1 {
  height: 700px;
}
#wrap > section > .article_1 > .slide > .slides_screen {
  width: 100%;
}
#wrap > section > .article_1 > .slide > .slides_screen > .visual_txt {
  position: absolute;
  /* 그림자위치 중앙으로 잡기 */
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #fff;
}
#wrap > section > .article_1 > .slide > .slides_screen > .visual_txt > p:nth-child(1) {
  font-weight: 800;
  font-size: 140px;
}
#wrap > section > .article_1 > .slide > .slides_screen > .visual_txt > p:nth-child(1)::after {
  display: inline-block;
  content: " on LINE";
}
#wrap > section > .article_1 > .slide > .slides_screen > .visual_txt > p:nth-child(2) {
  font-weight: 400;
  font-size: 40px;
  text-indent: 8px;
}
#wrap > section > .article_1 > .slide > .slides_screen > .visual_txt ul.download {
  padding: 50px 50px;
}
#wrap > section > .article_1 > .slide > .slides_screen > .visual_txt ul.download > .download__li {
  position: absolute;
  left: 13px;
  font-weight: 400;
  text-indent: 25px;
  background-image: url(./../images/다운로드.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#wrap > section > .article_1 > .slide > .slides_screen > .visual_txt ol {
  display: flex;
}
#wrap > section > .article_1 > .slide > .slides_screen > .visual_txt ol > li {
  margin-left: 3px;
  width: 40px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  border: 1px solid #fff;
}
#wrap > section > .article_1 > .slide > .slides_screen > .visual_txt ol > li:nth-child(1) {
  margin-left: 0px;
  background-image: url(./../images/sprite-download-list.png);
}
#wrap > section > .article_1 > .slide > .slides_screen > .visual_txt ol > li:nth-child(1):hover {
  background-position-y: -100px;
}
#wrap > section > .article_1 > .slide > .slides_screen > .visual_txt ol > li:nth-child(2) {
  background-image: url(./../images/sprite-download-list.png);
  background-position: -42px 0;
}
#wrap > section > .article_1 > .slide > .slides_screen > .visual_txt ol > li:nth-child(2):hover {
  background-position-y: -100px;
}
#wrap > section > .article_1 > .slide > .slides_screen > .visual_txt ol > li:nth-child(3) {
  background-image: url(./../images/sprite-download-list.png);
  background-position: -90px 0;
}
#wrap > section > .article_1 > .slide > .slides_screen > .visual_txt ol > li:nth-child(3):hover {
  background-position-y: -100px;
}
#wrap > section > .article_1 > .slide > .slides_screen > .visual_txt ol > li > a {
  display: block;
  height: 40px;
}
#wrap > section > .article_1 > .slide > .slides_screen div.slides {
  width: 100%;
}
#wrap > section > .article_1 > .slide > .slides_screen div.slides > p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  font-size: 50px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  z-index: -200;
  -webkit-animation: shrink 13s linear infinite;
          animation: shrink 13s linear infinite;
}
#wrap > section > .article_1 > .slide > .slides_screen div.slides > p.slide-1 {
  background-image: url(./../images/mv01.jpg);
}
#wrap > section > .article_1 > .slide > .slides_screen div.slides > p.slide-2 {
  background-image: url(./../images/mv02.jpg);
}
#wrap > section > .article_1 > .slide > .slides_screen .up-down {
  position: absolute;
  left: 49%;
  bottom: 120px;
  color: #fff;
  font-weight: 400;
  -webkit-animation: up-down 1.4s infinite ease-in-out alternate;
          animation: up-down 1.4s infinite ease-in-out alternate;
}
#wrap > section > .article_1 > .slide > .slides_screen > .mouse {
  position: absolute;
  left: 50%;
  bottom: 40px;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 15px;
  box-sizing: border-box;
}
#wrap > section > .article_1 > .slide > .slides_screen > .mouse > .wheel {
  position: absolute;
  left: 50%;
  top: 10px;
  width: 4px;
  height: 10px;
  margin-left: -2px;
  background-color: #fff;
  border-radius: 2px;
  text-indent: -9999px;
  -webkit-animation: mousewheel 1s linear infinite;
          animation: mousewheel 1s linear infinite;
}
#wrap > section .article_2 {
  height: 100%;
}
#wrap > section .article_2 > h3 {
  padding: 30px 0 15px 0;
  color: #1e1e1e;
  font-size: 70px;
  text-align: center;
}
#wrap > section .article_2 > p {
  padding-bottom: 230px;
  color: #616161;
  font-size: 20px;
  text-align: center;
}
#wrap > section .article_2 > .article2__flexcontainer {
  display: flex;
  padding: 50px 120px 100px 170px;
}
#wrap > section .article_2 > .article2__flexcontainer > .article2__flexcontainer__box_1 > .frame_1 {
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  box-sizing: border-box;
}
#wrap > section .article_2 > .article2__flexcontainer > .article2__flexcontainer__box_1 > .frame_1 > img {
  display: block;
  width: 100%;
  height: 100%;
}
#wrap > section .article_2 > .article2__flexcontainer > .article2__flexcontainer__box_1 h4 {
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.2;
}
#wrap > section .article_2 > .article2__flexcontainer > .article2__flexcontainer__box_1 p {
  color: #777;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
}
#wrap > section .article_2 > .article2__flexcontainer > .article2__flexcontainer__box_1 p > span {
  margin-bottom: 12px;
  color: #07b53b;
  line-height: 1.56;
}
#wrap > section .article_2 > .article2__flexcontainer > .article2__flexcontainer__box_1 > a {
  display: block;
  margin-top: 60px;
  width: 130px;
  box-sizing: border-box;
  height: 60px;
  line-height: 60px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
}
#wrap > section .article_2 > .article2__flexcontainer > .article2__flexcontainer__box_1 > a:hover {
  color: #fff;
  background-color: #52B24D;
  border: 1px solid transparent;
}
#wrap > section .article_2 > .article2__flexcontainer > .article2__flexcontainer__box_2 > p {
  width: 750px;
  height: 500px;
  text-indent: -9999px;
  background-image: url(./../images/lineA_2-1.png);
  background-repeat: no-repeat;
  background-size: 750px 500px;
}
#wrap > section .article_2 > .article2__flexcontainer_2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  padding: 50px 270px 100px 10px;
}
#wrap > section .article_2 > .article2__flexcontainer_2 > .article2__flexcontainer__box_1 > .frame_1 {
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
}
#wrap > section .article_2 > .article2__flexcontainer_2 > .article2__flexcontainer__box_1 > .frame_1 > img {
  display: block;
  width: 100%;
  height: 100%;
}
#wrap > section .article_2 > .article2__flexcontainer_2 > .article2__flexcontainer__box_1 h4 {
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.2;
}
#wrap > section .article_2 > .article2__flexcontainer_2 > .article2__flexcontainer__box_1 p {
  color: #777;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
}
#wrap > section .article_2 > .article2__flexcontainer_2 > .article2__flexcontainer__box_1 p > span {
  margin-bottom: 12px;
  color: #07b53b;
  line-height: 1.56;
}
#wrap > section .article_2 > .article2__flexcontainer_2 > .article2__flexcontainer__box_1 > a {
  display: block;
  margin-top: 60px;
  width: 130px;
  box-sizing: border-box;
  height: 60px;
  line-height: 60px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
}
#wrap > section .article_2 > .article2__flexcontainer_2 > .article2__flexcontainer__box_1 > a:hover {
  color: #fff;
  background-color: #52B24D;
  border: 1px solid transparent;
}
#wrap > section .article_2 > .article2__flexcontainer_2 > .article2__flexcontainer__box_2 > p {
  width: 750px;
  height: 500px;
  text-indent: -9999px;
  background-image: url(./../images/lineA_2-2.png);
  background-repeat: no-repeat;
  background-size: 750px 500px;
}
#wrap > section .article_2 > .article2__flexcontainer_3 {
  display: flex;
  padding: 50px 120px 100px 170px;
}
#wrap > section .article_2 > .article2__flexcontainer_3 > .article2__flexcontainer__box_1 > .frame_1 {
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  box-sizing: border-box;
}
#wrap > section .article_2 > .article2__flexcontainer_3 > .article2__flexcontainer__box_1 > .frame_1 > img {
  display: block;
  width: 100%;
  height: 100%;
}
#wrap > section .article_2 > .article2__flexcontainer_3 > .article2__flexcontainer__box_1 h4 {
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.2;
}
#wrap > section .article_2 > .article2__flexcontainer_3 > .article2__flexcontainer__box_1 p {
  color: #777;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
}
#wrap > section .article_2 > .article2__flexcontainer_3 > .article2__flexcontainer__box_1 p > span {
  margin-bottom: 12px;
  color: #07b53b;
  line-height: 1.56;
}
#wrap > section .article_2 > .article2__flexcontainer_3 > .article2__flexcontainer__box_1 > ul {
  display: flex;
  margin-top: 60px;
}
#wrap > section .article_2 > .article2__flexcontainer_3 > .article2__flexcontainer__box_1 > ul li {
  margin-left: 3px;
  width: 60px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
}
#wrap > section .article_2 > .article2__flexcontainer_3 > .article2__flexcontainer__box_1 > ul li:nth-child(1) {
  margin-left: 0px;
  background-image: url(./../images/sprite-download-list.png);
  background-position: 10px -40px;
}
#wrap > section .article_2 > .article2__flexcontainer_3 > .article2__flexcontainer__box_1 > ul li:nth-child(1):hover {
  background-position-y: -89px;
}
#wrap > section .article_2 > .article2__flexcontainer_3 > .article2__flexcontainer__box_1 > ul li:nth-child(2) {
  background-image: url(./../images/sprite-download-list.png);
  background-position: -30px -40px;
}
#wrap > section .article_2 > .article2__flexcontainer_3 > .article2__flexcontainer__box_1 > ul li:nth-child(2):hover {
  background-position-y: -89px;
}
#wrap > section .article_2 > .article2__flexcontainer_3 > .article2__flexcontainer__box_1 > ul li:nth-child(3) {
  text-indent: initial;
  display: block;
  width: 130px;
  height: 60px;
  line-height: 60px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
}
#wrap > section .article_2 > .article2__flexcontainer_3 > .article2__flexcontainer__box_1 > ul li:nth-child(3):hover {
  border: 1px solid transparent;
}
#wrap > section .article_2 > .article2__flexcontainer_3 > .article2__flexcontainer__box_1 > ul li:nth-child(3) > a:hover {
  color: #fff;
  background-color: #52B24D;
  border-radius: 8px;
  box-sizing: border-box;
}
#wrap > section .article_2 > .article2__flexcontainer_3 > .article2__flexcontainer__box_1 > ul li > a {
  display: block;
  height: 60px;
}
#wrap > section .article_2 > .article2__flexcontainer_3 > .article2__flexcontainer__box_2 > p {
  width: 750px;
  height: 500px;
  text-indent: -9999px;
  background-image: url(./../images/lineA_2-3.png);
  background-repeat: no-repeat;
  background-size: 750px 500px;
}
#wrap > section .article_2 > .article2__flexcontainer_4 {
  display: flex;
  flex-direction: row-reverse;
  padding: 80px 310px 100px 40px;
}
#wrap > section .article_2 > .article2__flexcontainer_4 > .article2__flexcontainer__box_1 > .frame_1 {
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  box-sizing: border-box;
}
#wrap > section .article_2 > .article2__flexcontainer_4 > .article2__flexcontainer__box_1 > .frame_1 > img {
  display: block;
  width: 100%;
  height: 100%;
}
#wrap > section .article_2 > .article2__flexcontainer_4 > .article2__flexcontainer__box_1 h4 {
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.2;
}
#wrap > section .article_2 > .article2__flexcontainer_4 > .article2__flexcontainer__box_1 p {
  color: #777;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
}
#wrap > section .article_2 > .article2__flexcontainer_4 > .article2__flexcontainer__box_1 p > span {
  margin-bottom: 12px;
  color: #07b53b;
  line-height: 1.56;
}
#wrap > section .article_2 > .article2__flexcontainer_4 > .article2__flexcontainer__box_1 > ul {
  display: flex;
  margin-top: 60px;
}
#wrap > section .article_2 > .article2__flexcontainer_4 > .article2__flexcontainer__box_1 > ul li {
  margin-left: 3px;
  width: 60px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
}
#wrap > section .article_2 > .article2__flexcontainer_4 > .article2__flexcontainer__box_1 > ul li:nth-child(1) {
  margin-left: 0px;
  background-image: url(./../images/sprite-download-list.png);
  background-position: 10px -40px;
}
#wrap > section .article_2 > .article2__flexcontainer_4 > .article2__flexcontainer__box_1 > ul li:nth-child(1):hover {
  background-position-y: -89px;
}
#wrap > section .article_2 > .article2__flexcontainer_4 > .article2__flexcontainer__box_1 > ul li:nth-child(2) {
  background-image: url(./../images/sprite-download-list.png);
  background-position: -30px -40px;
}
#wrap > section .article_2 > .article2__flexcontainer_4 > .article2__flexcontainer__box_1 > ul li:nth-child(2):hover {
  background-position-y: -89px;
}
#wrap > section .article_2 > .article2__flexcontainer_4 > .article2__flexcontainer__box_1 > ul li:nth-child(3) {
  text-indent: initial;
  display: block;
  width: 130px;
  height: 60px;
  line-height: 60px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
}
#wrap > section .article_2 > .article2__flexcontainer_4 > .article2__flexcontainer__box_1 > ul li:nth-child(3):hover {
  border: 1px solid transparent;
}
#wrap > section .article_2 > .article2__flexcontainer_4 > .article2__flexcontainer__box_1 > ul li:nth-child(3) > a:hover {
  color: #fff;
  background-color: #52B24D;
  border-radius: 8px;
  box-sizing: border-box;
}
#wrap > section .article_2 > .article2__flexcontainer_4 > .article2__flexcontainer__box_1 > ul li > a {
  display: block;
  height: 60px;
}
#wrap > section .article_2 > .article2__flexcontainer_4 > .article2__flexcontainer__box_2 > p {
  width: 750px;
  height: 500px;
  text-indent: -9999px;
  background-image: url(./../images/lineA_2-4.png);
  background-repeat: no-repeat;
  background-size: 750px 500px;
}
#wrap > section .article_2 > .article2__flexcontainer_5 {
  display: flex;
  padding: 50px 120px 100px 170px;
}
#wrap > section .article_2 > .article2__flexcontainer_5 > .article2__flexcontainer__box_1 > .frame_1 {
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  box-sizing: border-box;
}
#wrap > section .article_2 > .article2__flexcontainer_5 > .article2__flexcontainer__box_1 > .frame_1 > img {
  display: block;
  width: 100%;
  height: 100%;
}
#wrap > section .article_2 > .article2__flexcontainer_5 > .article2__flexcontainer__box_1 h4 {
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.2;
}
#wrap > section .article_2 > .article2__flexcontainer_5 > .article2__flexcontainer__box_1 p {
  color: #777;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
}
#wrap > section .article_2 > .article2__flexcontainer_5 > .article2__flexcontainer__box_1 p > span {
  margin-bottom: 12px;
  color: #07b53b;
  line-height: 1.56;
}
#wrap > section .article_2 > .article2__flexcontainer_5 > .article2__flexcontainer__box_1 > a {
  display: block;
  margin-top: 60px;
  width: 130px;
  box-sizing: border-box;
  height: 60px;
  line-height: 60px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
}
#wrap > section .article_2 > .article2__flexcontainer_5 > .article2__flexcontainer__box_1 > a:hover {
  color: #fff;
  background-color: #52B24D;
  border: 1px solid transparent;
}
#wrap > section .article_2 > .article2__flexcontainer_5 > .article2__flexcontainer__box_2 > p {
  width: 750px;
  height: 500px;
  text-indent: -9999px;
  background-image: url(./../images/lineA_2-5.png);
  background-repeat: no-repeat;
  background-size: 750px 500px;
}
#wrap > section .article_3 {
  padding: 200px 0;
  background-color: #F7F8F9;
}
#wrap > section .article_3 > h3 {
  margin-bottom: 12px;
  padding: 0 16px;
  font-size: 60px;
  line-height: 1.334;
  text-align: center;
}
#wrap > section .article_3 > p {
  color: #616161;
  font-size: 20px;
  line-height: 1.334;
  text-align: center;
}
#wrap > section .article_3 .communication_container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 200px;
  justify-content: space-around;
  margin-top: 100px;
}
#wrap > section .article_3 .communication_container > ul > li {
  text-align: center;
}
#wrap > section .article_3 .communication_container > ul > li > img {
  width: 300px;
  height: 230px;
}
#wrap > section .article_3 .communication_container > ul > li ol > li:nth-child(1) {
  margin: 36px auto 12px;
  font-weight: 700;
  font-size: 24px;
}
#wrap > section .article_3 .communication_container > ul > li ol > li:nth-child(2) {
  font-size: 14px;
}
#wrap > section .article_3 > p.support {
  width: 100%;
  height: 320px;
  margin-top: 200px;
  font-weight: 700;
  font-size: 45px;
  line-height: 320px;
  background-image: url(./../images/support.png);
  background-size: 100% 320px;
  background-repeat: no-repeat;
}
#wrap > section .article_3 > p.support > a {
  color: #fff;
  display: block;
  height: 320px;
}
#wrap > section .article_4 {
  height: 900px;
  background-color: #F7F8F9;
  z-index: -1000;
}
#wrap > section .article_4 > h3 {
  padding: 30px 0 15px 0;
  color: #1e1e1e;
  font-size: 70px;
  text-align: center;
}
#wrap > section .article_4 > p {
  padding-bottom: 130px;
  color: #616161;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
#wrap > section .article_4 .service_continer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
}
#wrap > section .article_4 .service_continer > ul {
  position: relative;
  width: 323px;
  height: 428px;
  background-repeat: no-repeat;
}
#wrap > section .article_4 .service_continer > ul:nth-child(1) {
  background-image: url(./../images/service-1.png);
}
#wrap > section .article_4 .service_continer > ul:nth-child(2) {
  background-image: url(./../images/service-2.png);
}
#wrap > section .article_4 .service_continer > ul:nth-child(3) {
  background-image: url(./../images/service-3.png);
}
#wrap > section .article_4 .service_continer > ul:nth-child(4) {
  background-image: url(./../images/service-4.png);
}
#wrap > section .article_4 .service_continer > ul > li {
  position: absolute;
  left: calc(50% - 75px);
  top: 214px;
  display: block;
  width: 150px;
  font-weight: 700;
  text-align: center;
}
#wrap > section .article_4 .service_continer > ul > li > a {
  display: none;
  height: 50px;
  color: #fff;
  background-color: #222;
  line-height: 50px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
}
#wrap > section .article_4 .service_continer > ul > li > a:hover {
  background-color: #52B24D;
  border: 1px solid transparent;
}
#wrap > footer {
  padding: 30px 220px;
  height: 100%;
}
#wrap > footer > .footer_box {
  border-bottom: 1px solid #d9d9d9;
}
#wrap > footer > .footer_box .fot_gnb {
  display: flex;
}
#wrap > footer > .footer_box .fot_gnb > li {
  position: relative;
  width: 130px;
  height: 50px;
  padding: 0 10px;
  font-weight: 500;
  background-repeat: no-repeat;
}
#wrap > footer > .footer_box .fot_gnb > li.footer_logo {
  width: 40px;
  height: 40px;
  background-image: url(./../images/footer_logo.png);
  background-size: contain;
  text-indent: -9999px;
}
#wrap > footer > .footer_box .fot_gnb > li:nth-child(2) {
  background-position: -3px 0;
}
#wrap > footer > .footer_box .fot_gnb > li:nth-child(2)::before {
  display: inline-block;
  content: "";
  position: absolute;
  left: -10px;
  width: 20px;
  height: 20px;
  background-image: url(./../images/footer_apple.png);
  background-size: 20px 20px;
}
#wrap > footer > .footer_box .fot_gnb > li:nth-child(3) {
  background-position: -3px 0;
}
#wrap > footer > .footer_box .fot_gnb > li:nth-child(3)::before {
  display: inline-block;
  content: "";
  position: absolute;
  left: -10px;
  width: 20px;
  height: 20px;
  background-image: url(./../images/footer_gogle.png);
  background-size: 20px 20px;
}
#wrap > footer > .footer_box .fot_gnb > li:nth-child(4) {
  background-position: -3px 0;
}
#wrap > footer > .footer_box .fot_gnb > li:nth-child(4)::before {
  display: inline-block;
  content: "";
  position: absolute;
  left: -10px;
  width: 20px;
  height: 20px;
  background-image: url(./../images/footer_computer.png);
  background-size: 20px 20px;
}
#wrap > footer > .footer_box .fot_gnb > li:nth-child(5) {
  background-position: -3px 0;
}
#wrap > footer > .footer_box .fot_gnb > li:nth-child(5)::before {
  display: inline-block;
  content: "";
  position: absolute;
  left: -10px;
  width: 20px;
  height: 20px;
  background-image: url(./../images/footer_windowstore.png);
  background-size: 20px 20px;
}
#wrap > footer > address {
  margin-top: 50px;
}
#wrap > footer > address > .fot_lnb {
  display: flex;
}
#wrap > footer > address > .fot_lnb > li {
  margin-left: 50px;
  height: 50px;
  font-weight: 400;
}
#wrap > footer > address > .fot_lnb > li:nth-child(5) {
  padding-right: 150px;
}
#wrap > footer > address > .fot_lnb > li:nth-child(6) {
  width: 40px;
  text-indent: -9999px;
  background-image: url(./../images/footer_youtube.png);
  background-repeat: no-repeat;
  background-size: 40px 30px;
}
#wrap > footer > address > .fot_lnb > li:nth-child(6) > a {
  display: block;
  height: 30px;
}
#wrap > footer > address > .fot_lnb > li:nth-child(7) {
  width: 40px;
  height: 30px;
  text-indent: -9999px;
  background-image: url(./../images/footer_facebook.png);
  background-repeat: no-repeat;
  background-size: 40px 30px;
}
#wrap > footer > address > .fot_lnb > li:nth-child(7) > a {
  display: block;
  height: 30px;
}/*# sourceMappingURL=style.css.map */